<form action="/api/links" method="POST" id="add_link" enctype="multipart/form-data">
  <div class="new_link">
    <div class="form-group">
      <label for="titulo" class="text-light">Título</label>
      <input
        type="text"
        class="form-control"
        name="titulo"
        placeholder="coloca o titulo"
      />
    </div>
    <div class="form-group">
      <label for="url" class="text-light">Link</label>
      <input type="text" class="form-control" name="url" placeholder="o Link" />
    </div>
    <div class="form-group">
      <label for="descricao" class="text-light">Descrição</label>
      <input
        type="text"
        class="form-control"
        name="descricao"
        placeholder="a descricao"
      />
    </div>
    <div class="form-group">
      <label for="picture" class="text-light">Upload foto</label>
      <input type="file" name="picture"><br>
    </div>
    <div class="form-group">
      <label for="preco" class="text-light">Preco</label>
      <input type="text" class="form-control" name="preco" placeholder="o preco" />
    </div>
  </div>

  <div class="form-group">
    <button class="btn text-dark update">Salvar</button>
  </div>
</form>
